.profile-container {
	display: flex;
	flex-direction: row;
}

.profile-photo {
	flex: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
} 

.profile-details {
	margin-left: 40px;
	display: flex; 
	row-direction: column;
	flex-grow:1; 
	align-items: center;
}

.points-container {
	display: flex;
}

.points-main {
	flex: 4;
}

.points-help {
	flex:6;
	background-color:rgba(8,8,8,0.5);
	color: white;
	margin:      6px;
	margin-top:  0px;
	margin-left: 18px;
	padding: 8px;
	border-radius: 6px;
}

.points-hours {
	margin-top: 20px;
	font-size: 20px;
}

.points-balance{
	margin-top:   2px;
	margin-left: 65px;
	align-items: center;
}

legend { color: white;}



