body { margin-top: 60px;}

footer > p{
	text-align: center;
}

.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

/* FlexBox */
.valign  {
	display: flex;
	align-items: center;
}

.split-container {
  display: flex;
}

.split-item {
  flex: 1;
}

.split-item-h {
  flex: 1;
}

.split-item-v{
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.split-item-v-foto{
  flex: 1 1 0px;
  flex-direction: column;
  flex-wrap: wrap;
}

.split-item-v-texto{
  flex: 5 1 0px;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-v{
	display: flex;
	align-items: center;
}

.center-content-h{
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.panel-default {
	width: 400px;	
	opacity: 0.9;
	margin-top:30px;
	flex: 3;
}

.btn-login {
	width: 100%;	
	
	display: inline-block;
	
	font-size: 18px;
	color: #fff;
	opacity: 
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	
	cursor: pointer;
	background-color: #111;
	border: 2px solid;
	border-radius: 25px;
	opacity: 1.0;
}

.link {
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.round-shadow {
    border-radius: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: #111;
    opacity: 0.5;
}

/* Post */
div.postbox {
	border: 1px solid;
	border-radius: 8px;
	padding: 7px;
	margin-bottom: 9px;
	
	width: 600px;
    height: 120px;
}

div.postbox.offerbox {
	background: linear-gradient(to top, #dde8f1, white);	
	border-color: #dde8f1;
	cursor: pointer;
}

div.postbox.offerbox:hover {
	background: linear-gradient(to top,#7db8d5, #dde8f1);	
	border-color: #dde8f1;
	cursor: pointer;
}

.offerText{
	color: #3e6579;
}


div.postbox.requestbox{
	background: linear-gradient(to top,#ebf9e0, white);	
	border-color: #ebf9e0;
	cursor: pointer;
}

div.postbox.requestbox:hover{
	background: linear-gradient(to top,#95be72, #ebf9e0);	
	border-color: #ebf9e0;
	cursor: pointer;
}

.requestText{
	color: #445736;
}

.collabbox {
	background: #fff;
	border-top: 1px solid;
	border-color: #ece8ec;
}

.cortar{
  width:486px;
  height:30px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden;
  -o-text-overflow: ellipsis; /* para versiones de Opera inferiores a la 11*/
  -ms-text-overflow: ellipsis; /* para IE8*/
}

.post-title {
	font-size: 19px;
	color: #111;
	text-align: left;
	padding-left: 30px;
	white-space: nowrap;
	text-overflow: ellipsi;
	overflow:hidden;
}

.post-description {
	font-size: 14px;
	color: #111;
	text-align: left;
	padding-left: 30px;
	padding-right: 10px;
}

.post-date {
	font-size: 11px;
	color: #111;
	opacity: 0.6;
	text-align: right;
	padding-right: 10px;
}

.img-circle-thumbnail {
   border-radius: 50%;
   padding: 2px;
   line-height: 1.42857143;
   background-color: #eafff3;
   border: 4px double #ddd;
}

.split-item .br-theme-bootstrap-stars .br-widget a:after {
  font-size: small;
}
	  
/* Botones oferta y demanda, Inicio */
div.banner {
	  margin-top: 10px;
	  margin-bottom: 22px;
	  height: 280px;
	  width: 100%;
	  max-height: 50%;
	  max-width: 100%;
	  min-height: 20%;
	  min-width: 30%;
	  
	  padding-top: 130px;
}

div.offer-banner {
	  background-image: url("../resources/img/banners/banner_offer.png");
	  background-size:  cover;
}

div.request-banner {
	  background-image: url("../resources/img/banners/banner_request.png");
	  background-size:  cover;
}

.banner-text {
	width: 80%;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 8px;
	padding-top: 6px;
	padding-bottom: 6px;	
}

.banner-btn-offer {
	width: 80%;	
	
	display: inline-block;
	
	font-size: 18px;
	color: #fff;
	line-height: 1.42857143;
	text-align: center;
	
	cursor: pointer;
	border: 2px solid;
	border-color: white;
	border-radius: 25px;
	opacity: 1.0;
	
	background-image: linear-gradient(to bottom,#7cb0cb 0,#3b6478 100%);
}

.banner-btn-offer:hover {
	background-color: #3e6579;
	border-color: #3e6579;
}
.banner-btn-offer:focus {
	background-color: #3e6579;
	border-color: #3e6579;
}

.banner-btn-request {
	width: 80%;	
	
	display: inline-block;
	
	font-size: 18px;
	color: #fff;
	line-height: 1.42857143;
	text-align: center;
	
	cursor: pointer;
	border: 2px solid;
	border-color: white;
	border-radius: 25px;
	opacity: 1.0;
	
	background-image: linear-gradient(to bottom,#a2ca84 0,#4a5e3b 100%);
}

.banner-btn-request:hover {
	background-color: #4B613A;
	border-color: #4B613A;
}

.banner-btn-request:focus {
	background-color: #4B613A;
	border-color: #4B613A;
}

/*Custom pagination*/
.custom-pagination {
	margin:20px 0;
}
.custom-pagination > ul {}
.custom-pagination > li {}

.custom-pagination > li > a,
.custom-pagination > li > span {
  color: #a0a0a0;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(100, 100, 100, 0.05);
  border: 2px solid #ddd;
}
.custom-pagination > li:first-child > a,
.custom-pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.custom-pagination > li:last-child > a,
.custom-pagination > li:last-child > span {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.custom-pagination > li > a:hover,
.custom-pagination > li > span:hover,
.custom-pagination > li > a:focus,
.custom-pagination > li > span:focus {
  color: #5b5b5b;
  background-color: rgba(100, 100, 100, 0.15);
  border-color: #ddd;
}
.custom-pagination > .active > a,
.custom-pagination > .active > span,
.custom-pagination > .active > a:hover,
.custom-pagination > .active > span:hover,
.custom-pagination > .active > a:focus,
.custom-pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #939393;
  border-color: #939393;
}
.custom-pagination > .disabled > span,
.custom-pagination > .disabled > span:hover,
.custom-pagination > .disabled > span:focus,
.custom-pagination > .disabled > a,
.custom-pagination > .disabled > a:hover,
.custom-pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}


