.semitrasparente-input {
   background-color: rgba(255, 255, 255, 20);
   border:none;
}

.valign  {
	display: flex;
	align-items: center
}

.split-container {
  display: flex;
}

.split-item {
  flex: 1;
}

.split-item-h {
  flex: 1;
}

.split-item-v{
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.center-content-v{
	display: flex;
	align-items: center;
}

.center-content-h{
	display: flex;
	flex-direction: column;
	justify-items: center;
}


.panel-default {
	width: 400px;	
	opacity: 0.9;
	margin-top:30px;
	flex: 3;
	
}

.btn-login {
	width: 100%;	
	
	display: inline-block;
	
	font-size: 18px;
	color: #fff;
	opacity: 
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	
	cursor: pointer;
	background-color: #111;
	border: 2px solid;
	border-radius: 25px;
	opacity: 1.0;
}
"WebContent/WEB-INF/tags/navegacio.tag"
.link {
	font-size: 15px;
	color: #fff;
	text-align: center;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}

.round-shadow {
    border-radius: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: #111;
    opacity: 0.5;
}